/* App.css */

/* Body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Container styling */
  div {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
  }
  
  /* Heading styling */
  h1 {
    font-size: 24px;
    color: #333;
  }
  
  /* Image styling */
  img.QR-img {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  /* Label styling */
  .input-label {
    display: block;
    font-size: 16px;
    margin: 10px 0 5px;
    text-align: left;
    color: #555;
  }
  
  /* Input field styling */
  input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  /* Button styling */
  button.gen-btn {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button.gen-btn:hover {
    background-color: #45a049;
  }
  p {
    font-size: 18px;
    color: #ff8c00;
    font-weight: bold;
  }
  